@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia.ttf");
}
.start-screen .start-container .text-container .start-h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
}

.donation .donation-wrap .donation__header, .help .help__header, .friends-section .friends__header, .about-section .about-wrap .about-text-container .about__h3-text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

.donation .donation-wrap .donation__card-number, .help .help__text, .friends-section .carousel-container .friends-list-wrap .friends-list .friends__name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.donation .donation-wrap .donation__bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}

.about-section .about-wrap .about-text-container .about__text, .start-screen .start-container .text-container .start-text, .start-screen .header-nav .header__links {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
}

.donation .donation-wrap .donation__legal-info {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
}

* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: azure;
}

.section-container {
  width: 1280px;
  margin: 0 auto;
}

.start-screen {
  padding-top: 30px;
  background: url("../assets/main/img/noise_transparent@2x.svg") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url("../assets/main/img/start-screen-background.png");
  min-height: 908px;
}
.start-screen .header {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
}
.start-screen .header-logo {
  height: 60px;
}
.start-screen .header-logo .header__text_bigger {
  color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  margin: 0 0 10px 0;
  letter-spacing: 0.06em;
}
.start-screen .header-logo .header__text {
  color: #ffffff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
}
.start-screen .header-nav {
  flex-basis: 443px;
  padding-top: 16px;
}
.start-screen .header-nav .header__nav-list {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 10px;
}
.start-screen .header-nav .header__links {
  text-decoration: none;
  position: relative;
  color: #CDCDCD;
}
.start-screen .header-nav .header__links:hover::after {
  width: 100%;
}
.start-screen .header-nav .header__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 3px;
  background-color: #F1CDB3;
  transition: width 0.3s ease-in-out;
}
.start-screen .header-nav .header__links-active {
  color: #ffffff;
}
.start-screen .header-nav .header__links-active::after {
  width: 100%;
}
.start-screen .start-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  flex-basis: 1200px;
  min-height: 728px;
  margin: 90px 40px 0;
}
.start-screen .start-container .text-container {
  margin-top: 163px;
  flex-basis: 460px;
}
.start-screen .start-container .text-container .start-h1 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 42px;
  width: 350px;
}
.start-screen .start-container .text-container .start-text {
  color: #CDCDCD;
  margin: 0 0 42px 0;
}
.start-screen .start-container .text-container .start-button {
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  width: 207px;
  height: 52px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17;
  line-height: 130%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}
.start-screen .start-container .text-container .start-button:hover {
  background-color: #FDDCC4;
}

.about-section {
  min-height: 588px;
  background-color: #ffffff;
  padding: 80px 20px 20px 20px;
}
.about-section .about-wrap {
  display: flex;
}
.about-section .about-wrap .about__pic {
  margin: 0px 120px 0 215px;
}
.about-section .about-wrap .about-text-container {
  width: 430px;
  margin-top: 14px;
}
.about-section .about-wrap .about-text-container .about__h3-text {
  width: 370px;
  color: #545454;
  margin: 0;
}
.about-section .about-wrap .about-text-container .about__text {
  color: #4C4C4C;
  margin: 25px 0 0 0;
}

.friends-section {
  min-height: 877px;
  background-color: #F6F6F6;
  padding: 80px 40px 0;
}
.friends-section .friends__header {
  text-align: center;
  color: #545454;
  margin: 0 0 60px 0;
}
.friends-section .section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friends-section .carousel-container {
  width: 1200px;
  height: 435px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends-section .carousel-container .friends__arrow {
  width: 50px;
  height: 50px;
}
.friends-section .carousel-container .friends__arrow:last-child {
  rotate: 180deg;
}
.friends-section .carousel-container .friends-list-wrap {
  display: flex;
  flex-basis: 990px;
  justify-content: space-between;
  height: 100%;
}
.friends-section .carousel-container .friends-list-wrap .friends-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
}
.friends-section .carousel-container .friends-list-wrap .friends-list .friends__name {
  color: #545454;
}
.friends-section .carousel-container .friends-list-wrap .friends-list .friends__learn-more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  border-radius: 100px;
  margin: 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends-section .carousel-container .friends-list-wrap .friends-list .friends__learn-more:hover {
  border: none;
  cursor: pointer;
  background-color: #FDDCC4;
}
.friends-section .friends__button {
  width: 261px;
  height: 52px;
  border: none;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends-section .friends__button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.help {
  min-height: 611px;
  background-color: #FFFFFF;
}
.help .section-container {
  padding: 80px 127px 100px;
}
.help .help__header {
  text-align: center;
  margin: 0;
  color: #545454;
}
.help .help-wrapper1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.help .help-wrapper2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
  gap: 120px;
}
.help .help__text {
  margin: 30 0 0 0;
  color: #545454;
}
.help .help__type {
  width: fit-content;
  text-align: center;
}

.donation {
  min-height: 461px;
  background-color: #F6F6F6;
  padding: 79 20 20 20;
}
.donation .donation-wrap {
  display: flex;
  justify-content: center;
}
.donation .donation-wrap .donation__pic {
  margin-top: 12px;
  height: 261px;
}
.donation .donation-wrap .donation-text {
  flex-basis: 380px;
  margin-left: 30px;
}
.donation .donation-wrap .donation__header {
  color: #545454;
  margin: 0;
}
.donation .donation-wrap .donation__bank {
  color: #545454;
  margin: 20px 0;
}
.donation .donation-wrap .donation__card-number {
  width: 349px;
  height: 43px;
  border-radius: 9px;
  border: none;
  background-color: #F1CDB3;
  padding-left: 60px;
  position: relative;
  background-image: url("../assets/main/img/credit-card.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}
.donation .donation-wrap .donation__legal-info {
  margin: 20px 0 0 0;
  color: #b2b2b2;
}

.footer {
  min-height: 350px;
  background: url("../assets/main/img/noise_transparent@2x.svg") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url("../assets/main/img/start-screen-background.png");
  padding: 40px 40px 0 40px;
}

/*# sourceMappingURL=main.css.map */
