@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia.ttf");
}
.start-screen-inner .start-container .text-container .start-h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
}

.footer .section-container .footer-address-wrap .footer-address__h3, .footer .section-container .footer-questions-wrap .footer-questions__h3, .donation-inner .donation-wrap .donation__header, .help-inner .help__header, .friends-section-inner .friends__header, .about-section-inner .about-wrap .about-text-container .about__h3-text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

.footer .section-container .footer-address-wrap .footer-address__map, .footer .section-container .footer-questions-wrap .footer-questions__phone, .footer .section-container .footer-questions-wrap .footer-questions__mail, .donation-inner .donation-wrap .donation__card-number, .help-inner .help__text, .friends-section-inner .carousel-container .friends-list-wrap .friends-list .friends__name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.donation-inner .donation-wrap .donation__bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}

.about-section-inner .about-wrap .about-text-container .about__text, .start-screen-inner .start-container .text-container .start-text, .start-screen-inner .header-nav .header__links {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
}

.donation-inner .donation-wrap .donation__legal-info {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.section-container {
  flex-basis: 1280px;
  margin: 0 auto;
}

.start-screen {
  display: flex;
  background: url("../assets/main/img/noise_transparent@2x.svg") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url("../assets/main/img/start-screen-background.png");
}

.start-screen-inner {
  min-height: 908px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px 0 20px;
  width: 100%;
}
.start-screen-inner .header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-basis: 1200px;
  height: 60px;
}
.start-screen-inner .header-logo {
  height: 60px;
}
.start-screen-inner .header-logo .header__text_bigger {
  color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  margin: 0 0 10px 0;
  letter-spacing: 0.06em;
}
.start-screen-inner .header-logo .header__text {
  color: #ffffff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
}
.start-screen-inner .header-nav {
  flex-basis: 443px;
  padding-top: 16px;
}
.start-screen-inner .header-nav .header__nav-list {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 10px;
}
.start-screen-inner .header-nav .header__links {
  text-decoration: none;
  position: relative;
  color: #CDCDCD;
}
.start-screen-inner .header-nav .header__links:hover::after {
  width: 100%;
}
.start-screen-inner .header-nav .header__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 3px;
  background-color: #F1CDB3;
  transition: width 0.3s ease-in-out;
}
.start-screen-inner .header-nav .header__links-active {
  color: #ffffff;
  pointer-events: none;
}
.start-screen-inner .header-nav .header__links-active::after {
  width: 100%;
}
.start-screen-inner .start-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 1200px;
  min-height: 728px;
  margin: 0 auto 0 auto;
  align-content: flex-end;
}
@media screen and (max-width: 900px) {
  .start-screen-inner .start-container {
    flex-direction: column;
    flex-basis: 1115px;
    padding-left: 55px;
    align-items: center;
  }
}
.start-screen-inner .start-container .text-container {
  margin-top: 163px;
  flex-basis: 460px;
}
@media screen and (max-width: 900px) {
  .start-screen-inner .start-container .text-container {
    max-width: 322px;
  }
}
.start-screen-inner .start-container .text-container .start-h1 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 42px;
  width: 350px;
}
.start-screen-inner .start-container .text-container .start-text {
  color: #CDCDCD;
  margin: 0 0 42px 0;
}
.start-screen-inner .start-container .text-container .start-button {
  background-color: #F1CDB3;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  width: 207px;
  height: 52px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17;
  line-height: 130%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}
.start-screen-inner .start-container .text-container .start-button:hover {
  background-color: #FDDCC4;
}
.start-screen-inner .start-container .start-screen-img-wrap {
  display: flex;
  flex-basis: 698px;
  align-items: flex-end;
}
.start-screen-inner .start-container .start-screen-img-wrap .start-screen__img {
  width: 100%;
  height: auto;
}

.about-section {
  display: flex;
}

.about-section-inner {
  min-height: 588px;
  background-color: #ffffff;
  padding: 80px 20px 0px 20px;
  display: flex;
  justify-content: center;
}
.about-section-inner .about-wrap {
  display: flex;
  flex-basis: 1200px;
  justify-content: center;
}
.about-section-inner .about-wrap .about__pic {
  margin: 0px 120px 0 0;
  width: 300px;
  height: 408px;
}
.about-section-inner .about-wrap .about-text-container {
  flex-basis: 430px;
  margin-top: 14px;
}
.about-section-inner .about-wrap .about-text-container .about__h3-text {
  color: #545454;
  margin: 0;
}
.about-section-inner .about-wrap .about-text-container .about__text {
  color: #4C4C4C;
  margin: 25px 0 0 0;
}

.friends-section {
  display: flex;
  background-color: #F6F6F6;
}

.friends-section-inner {
  display: flex;
  padding: 80px 40px 100px 40px;
  min-height: 877px;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.friends-section-inner .friends__header {
  text-align: center;
  color: #545454;
  margin: 0;
}
.friends-section-inner .carousel-container {
  flex-basis: 1200px;
  height: 435px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}
.friends-section-inner .carousel-container .friends__arrow {
  width: 50px;
  height: 50px;
}
.friends-section-inner .carousel-container .friends__arrow:last-child {
  rotate: 180deg;
}
.friends-section-inner .carousel-container .friends-list-wrap {
  display: grid;
  margin: 0 20px 0 20px;
  gap: 15px;
  grid-template-columns: 270px 270px 270px;
  justify-content: space-between;
  flex-basis: 990px;
}
@media screen and (max-width: 1140px) {
  .friends-section-inner .carousel-container .friends-list-wrap {
    grid-template-columns: 270px 270px;
  }
}
.friends-section-inner .carousel-container .friends-list-wrap .friends-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
  transition: box-shadow 0.2s ease-in-out;
}
.friends-section-inner .carousel-container .friends-list-wrap .friends-list:hover {
  box-shadow: 0 0 8px gray;
}
.friends-section-inner .carousel-container .friends-list-wrap .friends-list .friends__name {
  color: #545454;
}
.friends-section-inner .carousel-container .friends-list-wrap .friends-list .friends__learn-more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  border-radius: 100px;
  margin: 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends-section-inner .carousel-container .friends-list-wrap .friends-list .friends__learn-more:hover {
  border: none;
  cursor: pointer;
  background-color: #FDDCC4;
}
@media screen and (max-width: 1140px) {
  .friends-section-inner .carousel-container .friends-list-wrap .friends-list:nth-child(3) {
    display: none;
    grid-column-start: 5;
  }
}
.friends-section-inner .friends__button {
  width: 261px;
  height: 52px;
  border: none;
  margin: 0px auto;
  margin-top: -30px;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends-section-inner .friends__button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.help {
  display: flex;
  background-color: #FFFFFF;
}

.help-inner {
  display: flex;
  min-height: 611px;
  flex-wrap: wrap;
  padding: 80px 69px 100px;
  justify-content: center;
}
.help-inner .help__header {
  text-align: center;
  margin: 0;
  color: #545454;
}
.help-inner .help-wrapper {
  flex-basis: 1026px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 119.3px;
  row-gap: 55px;
  justify-content: center;
  min-height: 281px;
  margin-top: 58px;
}
.help-inner .help__text {
  margin: 30 0 0 0;
  color: #545454;
}
.help-inner .help__type {
  width: fit-content;
  text-align: center;
}

.donation {
  display: flex;
  background-color: #F6F6F6;
}

.donation-inner {
  min-height: 461px;
  padding: 79px 0 0 0;
}
.donation-inner .donation-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.donation-inner .donation-wrap .donation__pic {
  margin-top: 12px;
  height: 261px;
}
.donation-inner .donation-wrap .donation-text {
  flex-basis: 380px;
  margin-left: 30px;
}
.donation-inner .donation-wrap .donation__header {
  color: #545454;
  margin: 0;
}
.donation-inner .donation-wrap .donation__bank {
  color: #545454;
  margin: 20px 0;
}
.donation-inner .donation-wrap .donation__card-number {
  width: 349px;
  height: 43px;
  border-radius: 9px;
  border: none;
  background-color: #F1CDB3;
  padding-left: 60px;
  position: relative;
  background-image: url("../assets/main/img/credit-card.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}
.donation-inner .donation-wrap .donation__legal-info {
  margin: 20px 0 0 0;
  color: #b2b2b2;
}

.footer {
  min-height: 350px;
  background: url("../assets/main/img/noise_transparent@2x.svg") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url("../assets/main/img/start-screen-background.png");
  display: flex;
}
.footer .section-container {
  display: flex;
  flex-basis: 1200px;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
}
.footer .section-container .footer-questions-wrap {
  flex-basis: 279px;
}
.footer .section-container .footer-questions-wrap .footer-questions__h3 {
  color: #FFFFFF;
  margin: 16px 0 0 0;
}
.footer .section-container .footer-questions-wrap p {
  margin: 44px 0 0 60px;
}
.footer .section-container .footer-questions-wrap p:last-child {
  margin: 50px 0 0 60px;
}
.footer .section-container .footer-questions-wrap .footer-questions__mail {
  color: #F1CDB3;
  text-decoration: none;
  position: relative;
}
.footer .section-container .footer-questions-wrap .footer-questions__mail::before {
  content: url("../assets/main/img/icon-email.svg");
  position: absolute;
  display: inline-block;
  top: -5px;
  left: -60px;
}
.footer .section-container .footer-questions-wrap .footer-questions__phone {
  color: #F1CDB3;
  text-decoration: none;
  position: relative;
}
.footer .section-container .footer-questions-wrap .footer-questions__phone::before {
  content: url("../assets/main/img/icon-phone.svg");
  position: absolute;
  display: inline-block;
  top: -5px;
  left: -60px;
}
.footer .section-container .footer-address-wrap {
  flex-basis: 305px;
}
.footer .section-container .footer-address-wrap .footer-address__h3 {
  color: #FFFFFF;
  margin: 16px 0 0 2px;
}
.footer .section-container .footer-address-wrap p {
  margin: 33px 0 0 43px;
}
.footer .section-container .footer-address-wrap p:last-child {
  margin: 37px 0 0 43px;
}
.footer .section-container .footer-address-wrap .footer-address__map {
  color: #F1CDB3;
  text-decoration: none;
  position: relative;
}
.footer .section-container .footer-address-wrap .footer-address__map::before {
  content: url("../assets/main/img/icon-marker.svg");
  position: absolute;
  display: inline-block;
  top: 6px;
  left: -42px;
}
.footer .section-container .footer-address-wrap .map1:before {
  top: -5px;
}

/*# sourceMappingURL=main.css.map */
