@import "abstractions/fonts";
@import "abstractions/colors";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.section-container {
    width: 1280px;
    margin: 0 auto;

}
.start-screen {
    padding-top: 30px;
    background:url("../assets/main/img/noise_transparent@2x.svg") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url("../assets/main/img/start-screen-background.png");
    min-height: 908px;
    // width:100%;
    .header {
        margin-left: 40px;
        display: flex;
        justify-content: space-between;
        width: 1200px;
        // margin: auto;
        height: 60px;
    }
    .header-logo {
        height: 60px;
        .header__text_bigger {
            color: $colorPrimary;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 110%;
            margin: 0 0 10px 0;
            letter-spacing: 0.06em;
        }
        .header__text {
            color: $fontWhite;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.1em;
            margin: 0;
            text-align: center;
        }
    }
    .header-nav {
        // display: flex;
        flex-basis: 443px;
        padding-top: 16px;
        .header__nav-list {
            display: flex;
            margin: auto 0;
            justify-content: space-between;
            // align-items: center;
            list-style: none;
            padding:0;
            margin: 0;
            row-gap: 10px;
        }
        .header__links {
            @extend %parL;
            text-decoration: none;
            position: relative;
            color:#CDCDCD;
            &:hover::after {
                width: 100%;
                // transition: width 0.3s ease-in-out;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 0;
                height: 3px;
                background-color: $colorPrimary;
                transition: width 0.3s ease-in-out;
            }
        }
        .header__links-active {
            color: $fontWhite;
            pointer-events: none;
            &::after {
                width: 100%;
            }
        }
    }
    .start-container {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        flex-basis: 1200px;
        min-height: 728px;
        // margin-top: 90px;
        margin:90px 40px 0;
        .text-container {
            margin-top: 163px;
            flex-basis: 460px;
            .start-h1 {
                @extend %header2;
                color: $fontWhite;
                margin-top: 0;
                margin-bottom: 42px;
                width: 350px;
            }
            .start-text {
                @extend %parL;
                color: #CDCDCD;
                margin:0 0 42px 0;
            }
            .start-button {
                background-color: $colorPrimary;
                cursor: pointer;
                border-radius: 100px;
                border: none;
                width:207px;
                height: 52px;
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17;
                line-height: 130%;
                /* identical to box height, or 17px */
                letter-spacing: 0.06em;
                &:hover {
                    background-color: $colorHover;
                }
            }
        }
    }
}
.about-section {
    min-height: 588px;
    background-color: $fontWhite;
    padding: 80px 0px 0px 0px;
    .about-wrap {
        display: flex;
        .about__pic {
            margin: 0px 120px 0 215px;
        }
        .about-text-container {
            width: 430px;
            margin-top: 14px;
            .about__h3-text {
                @extend %header3;
                width:370px;
                color: $fontHGray;
                margin: 0;
            }
            .about__text {
                @extend %parL;
                color: $fontTextGray;
                margin: 25px 0 0 0;
            }
        }
    }

}
.friends-section {
    min-height: 877px;
    background-color: $bgColor;
    padding: 80px 0 0px 0;
    // display: flex;
    // flex-direction: column;
    .friends__header {
        @extend %header3;
        text-align: center;
        color: $fontHGray;
        margin: 0 0 60px 0;
    }
    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carousel-container {
        width:1200px;
        height: 435px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .friends__arrow {
            width: 50px;
            height: 50px;
            &:last-child {
                rotate: 180deg;
            }
        }
        .friends-list-wrap {
            display: flex;
            flex-basis: 990px;
            justify-content: space-between;
            height: 100%;
            .friends-list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width:270px;
                height:435px;
                background-color: #FAFAFA;
                border-radius: 9px;
                padding-bottom: 30px;
                transition: box-shadow 0.2s ease-in-out;
                &:hover {
                    box-shadow: 0 0 8px gray ;
                    
                }
                .friends__name {
                    @extend %header4;
                    color: $fontHGray;
                }
                .friends__learn-more {
                    width: 187px;
                    height: 52px;  
                    border: 2px solid #F1CDB3;
                    background-color: #FAFAFA;
                    border-radius: 100px;
                    margin: 0 auto;
                    font-family: 'Georgia';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 130%;
                    letter-spacing: 0.06em;
                    color:#292929;
                    &:hover {
                        border: none;
                        cursor: pointer;
                        background-color: $colorHover;
                    }
                }
            }
        }
    }
    .friends__button {
        width: 261px;
        height: 52px;
        border: none;
        margin: 0 auto;
        margin-top: 60px;
        border-radius: 100px;
        background-color: $colorPrimary;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        &:hover {
            cursor: pointer;
            background-color: $colorHover;
        }
    }
}
.help {
    min-height: 611px;
    background-color: #FFFFFF;
    .section-container {
        padding: 80px 127px 100px;
    }
    .help__header {
        @extend %header3;
        text-align: center;
        margin: 0;
        color: $fontHGray;
    }
    .help-wrapper1 {
        display: flex;
        flex-wrap: wrap;
        // width:1026px;
        justify-content: space-between;
        margin-top: 60px;
    }
    .help-wrapper2 {
        display: flex;
        flex-wrap: wrap;
        // width:1026px;
        justify-content: center;
        margin-top: 55px;
        gap: 120px;
    }
    .help__text {
        @extend %header4;
        margin: 30 0 0 0;
        color:$fontHGray
    }
    .help__type {
        width:fit-content;
        text-align: center;
    }
}
.donation {
    min-height: 461px;
    background-color: $bgColor;
    padding: 79px 0 0 0;
    .donation-wrap {
        display: flex;
        justify-content: center;
        .donation__pic {
            margin-top:12px;
            height: 261px;
        }
        .donation-text {
            flex-basis: 380px;
            margin-left: 30px;
        }
        .donation__header {
            @extend %header3;
            color: $fontHGray;
            margin: 0;
        }
        .donation__bank {
            @extend %header5;
            color: $fontHGray;
            margin: 20px 0;
        }
        .donation__card-number {
            @extend %header4;
            width: 349px;
            height: 43px;
            border-radius: 9px;
            border: none;
            background-color: $colorPrimary;
            padding-left: 60px;
            position: relative;
            background-image: url("../assets/main/img/credit-card.svg");
            background-repeat: no-repeat;
            background-position: 15px 10px;
        }
        .donation__legal-info {
            @extend %parS;
            margin:20px 0 0 0;
            color: #b2b2b2;
        }
    }
}
.footer {
    min-height: 350px;
    background:url("../assets/main/img/noise_transparent@2x.svg") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), url("../assets/main/img/start-screen-background.png");
    display: flex;
    .section-container {
        display: flex;
        flex-basis: 1200px;
        justify-content: space-between;
        padding: 40px 0px 0px 0px;
        .footer-questions-wrap {
            flex-basis: 279px;
            .footer-questions__h3 {
                @extend %header3;
                color:#FFFFFF;
                margin: 16px 0 0 0;
            }
            p {
                margin: 44px 0 0 60px;
                &:last-child {
                    margin: 50px 0 0 60px;
                }
            }
            .footer-questions__mail {
                @extend %header4;
                color: $colorPrimary;
                text-decoration: none;
                position:relative;
                &::before {
                    content: url("../assets/main/img/icon-email.svg");
                    position: absolute;
                    display: inline-block;
                    top: -5px;
                    left:-60px;
                }
            }
            .footer-questions__phone {
                @extend %header4;
                color: $colorPrimary;
                text-decoration: none;
                position:relative;
                &::before {
                    content: url("../assets/main/img/icon-phone.svg");
                    position: absolute;
                    display: inline-block;
                    top: -5px;
                    left:-60px;
                }
            }
        }
        .footer-address-wrap {
            flex-basis: 305px;
            .footer-address__h3 {
                @extend %header3;
                color: #FFFFFF;
                margin: 16px 0 0 2px;
            }
            p {
                margin: 33px 0 0 43px;
                &:last-child {
                    margin: 37px 0 0 43px;
                }
            }
            .footer-address__map {
                @extend %header4;
                color: $colorPrimary;
                text-decoration: none;
                position:relative;
                &::before {
                    content: url("../assets/main/img/icon-marker.svg");
                    position: absolute;
                    display: inline-block;
                    // transform: translateY(0%);
                    top: 6px;
                    left:-42px;
                }
            }
            .map1:before {
                top: -5px;
            }
        }
    }
}
//sass --watch style/scss/style-main.scss style/main.css
